/* Css Syntax*/


/* Head Section */
body, header, div, section, article, sidebar, sidebar, nav, footer{
    display: block;
} 
/* header{

} */
header img{
    border-radius: 100%;
    width: 30px;
}
#header-div{
    display: flex;
    margin-bottom: 5px;
}
#searchInput{
    margin-left: 800px;
    border-radius: 40px;
    padding: 7px;
    border: 1px solid black;
}
header nav{
    background-color: black;
    padding: 5px;
}
/* header ul{

} */
header ul li{
    display: inline;

}
header ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
header ul a:hover{
    color: green;
    font-size: 18px;
}
header ul li a:active{
    color:rgb(red, green, blue);
    font-size: 18px;
}
#main-section{
    display: flex;
    margin-top: 3px;
    background-color: blueviolet;
    margin-block-end: 10px;
}
sidebar{
    background-color: darkgray;
}
sidebar li a{
    text-decoration: none;
    
}
#menu li a {
    margin-right: 15px;
}
#menu{
    list-style: none;
    line-height: 30px;
    padding-right: 15px;
}
.span:before{
    content: '(';
}
.span:after{
    content: ')';
}
article{
    height: 80vh;
    width:5000%;
    margin-left: 15px;
    border: 1px solid black;
    background-size: 1100px;
    background-repeat: no-repeat;
    padding: 5px;
}
#article-heading{
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 3px 2p red;
    background-color:rebeccapurple;
}
#image{
    background: url("img/naijaSports.jpg") center center no-repeat;
    background-size: cover;
    height: 200px;
}
#people{
    display: flex;
    margin-top: 7px;
}
.people{
    text-align: justify;
    margin-left: 5px;
    padding: 10px;
}
.people:hover{  
box-shadow: 3px 3px 1px red
-3px -3px 1px red;
background-color: skyblue;
border-radius: 6px;
}
.people h3{
    text-decoration: underline;
    padding: 10px;
}
.people p{
    border-right: 1px dashed black;
    padding: 5px;
}
/*.people p:last-of-type{
    border-right: none;

}*/
#remove{
    border-right: none;
}
.more{
    color: blue;
    text-decoration: underline;
}
.more:hover{
    cursor: pointer;
}
#economy{
    display: flex;
    background-color: powderblue;

}
.economy{
    border-radius: 100px solid red;
    border-right: dotted;
    margin-left: 10px;
}
.economy:hover{
    box-shadow: 3px 3px 1px greenyellow
    -3px -3px 1px;
}
.read{
    color: orangered;
    text-decoration: underline;
}
.read:hover{
  cursor: pointer;
}
h4{
    text-decoration: underline;
}

